#Row1{
	padding-top: :20px;
    max-width: 610px;
    margin: auto;
}

#Textline{
    padding-top: 20px;
    margin-left:
}

.buttons{
    width:50px;
}

#Servo{
	text-align: center;
	font-family: 'Courier New',Courier,monospace;
	padding-bottom: 1px;
}
